# Exploratory Data Analysis of Brazillion E-commerce dataset

## Import packages

In [2]:
import numpy as numpy
import pandas as pd
from pathlib import Path
from pprint import pprint

## Load dataset

In [3]:
df = pd.read_csv("../data/brazillian-ecommerce-dataset/olist_orders_dataset.csv")

In [4]:
df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB

## List all the column names for every table.

In [6]:
dir_path = "../data/brazillian-ecommerce-dataset/"
path = Path(dir_path)
result = {}

if path.exists():
    for file in path.glob("*.csv"):
        df = pd.read_csv(file)
        table_name = str(file).split("/")[-1].split(".")[0]
        col_list = df.columns.to_list()
        result[table_name] = col_list


pprint(result)

{'olist_customers_dataset': ['customer_id',
                             'customer_unique_id',
                             'customer_zip_code_prefix',
                             'customer_city',
                             'customer_state'],
 'olist_geolocation_dataset': ['geolocation_zip_code_prefix',
                               'geolocation_lat',
                               'geolocation_lng',
                               'geolocation_city',
                               'geolocation_state'],
 'olist_order_items_dataset': ['order_id',
                               'order_item_id',
                               'product_id',
                               'seller_id',
                               'shipping_limit_date',
                               'price',
                               'freight_value'],
 'olist_order_payments_dataset': ['order_id',
                                  'payment_sequential',
                                  'payment_type',
                                  'payment_installments',
                                  'payment_value'],
 'olist_order_reviews_dataset': ['review_id',
                                 'order_id',
                                 'review_score',
                                 'review_comment_title',
                                 'review_comment_message',
                                 'review_creation_date',
                                 'review_answer_timestamp'],
 'olist_orders_dataset': ['order_id',
                          'customer_id',
                          'order_status',
                          'order_purchase_timestamp',
                          'order_approved_at',
                          'order_delivered_carrier_date',
                          'order_delivered_customer_date',
                          'order_estimated_delivery_date'],
 'olist_products_dataset': ['product_id',
                            'product_category_name',
                            'product_name_length',
                            'product_description_length',
                            'product_photos_qty',
                            'product_weight_g',
                            'product_length_cm',
                            'product_height_cm',
                            'product_width_cm'],
 'olist_sellers_dataset': ['seller_id',
                           'seller_zip_code_prefix',
                           'seller_city',
                           'seller_state'],
 'product_category_name_translation': ['product_category_name',
                                       'product_category_name_english']}

In [7]:
dir_path = "../data/brazillian-ecommerce-dataset/"
path = Path(dir_path)

if path.exists():
    for file in path.glob("*.csv"):
        df = pd.read_csv(file)
        print(f"{str(file).split("/")[-1]}: {len(df)}")

olist_geolocation_dataset.csv: 1000163
olist_products_dataset.csv: 32951
product_category_name_translation.csv: 71
olist_sellers_dataset.csv: 3095
olist_order_payments_dataset.csv: 103886
olist_order_items_dataset.csv: 112650
olist_customers_dataset.csv: 99441
olist_orders_dataset.csv: 99441
olist_order_reviews_dataset.csv: 99224

In [8]:
df = pd.read_csv("../data/brazillian-ecommerce-dataset/olist_order_reviews_dataset.csv")
df.head()

,review_id,order_id,review_score,review_comment_title,review_comment_message,review_creation_date,review_answer_timestamp
0,7bc2406110b926393aa56f80a40eba40,73fc7af87114b39712e6da79b0a377eb,4,NaN,NaN,2018-01-18 00:00:00,2018-01-18 21:46:59
1,80e641a11e56f04c1ad469d5645fdfde,a548910a1c6147796b98fdf73dbeba33,5,NaN,NaN,2018-03-10 00:00:00,2018-03-11 03:05:13
2,228ce5500dc1d8e020d8d1322874b6f0,f9e4b658b201a9f2ecdecbb34bed034b,5,NaN,NaN,2018-02-17 00:00:00,2018-02-18 14:36:24
3,e64fb393e7b32834bb789ff8bb30750e,658677c97b385a9be170737859d3511b,5,NaN,Recebi bem antes do prazo estipulado.,2017-04-21 00:00:00,2017-04-21 22:02:06
4,f7c4243c7fe1938f181bec41a392bdeb,8e6bfb81e283fa7e4f11123a3fb894f1,5,NaN,Parabéns lojas lannister adorei comprar pela I...,2018-03-01 00:00:00,2018-03-02 10:26:53

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB

In [13]:
df.duplicated().sum()

np.int64(0)